/**
 * @class css.modules.loader
 *
 * These styles define the layout for the loading screen.
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__modules/_loader.scss";
 *
 */

.loader {
	display: table;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	.loader-inner {

		display: table-cell;
		height: 100%;
		pointer-events: none;
		text-align: center;
		vertical-align: middle;
		width: 100%;

		.spinner {
			display: inline-block;
			width: 40px;
		  background-image: url('/images/loader@2x.gif');
		  background-repeat: no-repeat;
		  background-size: 40px 40px;
		  height: 40px;
		}
	}
}